# Application
public_html/app/plugins/*
!public_html/app/plugins/.gitkeep
public_html/app/mu-plugins/*/
public_html/app/upgrade
public_html/app/uploads/*
!public_html/app/uploads/.gitkeep

# WordPress
public_html/wp
public_html/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# PHPStorm Files

/.idea/*
